<h1> Grid display :  People data </h1>
<h2>Data API : <a href="https://swapi.co/api/people/">https://swapi.co/api/people/</a></h2>
<ag-grid-angular style="width: 800px; height: 250px;"
                 class="ag-fresh"
                 [rowData]="rowData"
                 [columnDefs]="columnDefs"
                 [gridOptions]="gridOptions"
                 (gridReady)="onGridReady($event)"
>
</ag-grid-angular>
